<h2>ASSHOLES</h2>
<h5>there are boyfriends.</h5>
<h5>and then there are assholes.</h5>
<br>
<ul>
  <li><a href="/">home</a></li>
  <li><a href="/shows">shows</a></li>
  <%# <li><a href="/characters">clasification</a></li>%>
</ul>
<br>
<p class="footer">Created by Klaudia<br> for GA &copy 2016</p>
<a class="social" target="_blank" href="https://twitter.com/EffingKay"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_square_gray-20.png" alt=""></a>
<a class="social" target="_blank" href="https://www.linkedin.com/in/klaudia-rozgonyiova-79b799123"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_square_gray-20.png" alt=""></a>
<a class="social" target="_blank" href="https://github.com/EffingKay"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_square_gray-20.png" alt=""></a>
